<div class="cart">
    <div class="empty-cart text-center" *ngIf="!cartProduct.length">
        <h1 class="text-lg">Oops!</h1>
        <h1><i class="bi bi-exclamation-circle text-icon"></i></h1>
        <h1>No items in your cart</h1>
        <h2>Add items to continue shopping</h2>
        <a routerLink="/home"> <button class="w-25 btn">Shop Now</button></a>
    </div>
    <div class="d-flex flex-wrap justify-content-between p-5" *ngIf="cartProduct.length">
        <div class="cart-items ">
            <div *ngFor="let product of cartProduct; let i = index" class="d-flex flex-wrap justify-content-between rounded shadow p-3 mb-4 bgm">
                <div class="w-25 p-2">
                    <img src="{{product.image}}" width="100%" height="">
                  
                </div>
                <div class="w-75 p-2">
                    <h2 class="mb-5">{{product.title}}</h2>
                    <div class="d-flex flex-wrap justify-content-between">
                        <h3>${{product.price}}</h3>
                       
                        <div class="text-center">
                            <button class="btn" [disabled]="product.count==1" (click)="decrement(product)">-</button>
                            <span class="m-3">{{product.count}}</span>
                            <button class="btn" (click)="increment(product)">+</button>
                        </div>
                        <button class="btn mt-auto" (click)="remove(i)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bill-sec shadow rounded p-3 ">
            <div>
                <h3>Price Details</h3>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <span>Price ({{cartProduct.length}}) items</span>
                <b>{{totalPrice | currency:"USD"}}</b>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <span>Discount</span>
                <b class="text-success">{{discount}}%</b>
            </div>
            <div class="d-flex flex-wrap justify-content-between border-bottom border-dashed mb-3 pb-3">
                <span>Delivery Charges</span>
                <b class="text-success" *ngIf="!deliverCharge">FREE</b>
                <b *ngIf="deliverCharge">${{deliverCharge}}</b>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <h3>Total Amount</h3>
                <h5>{{totalAmount | currency:"USD"}}</h5>
            </div>
        </div>
    </div>
</div>