<div class="side-pannel">
    <div class="text-white">
        <h3 class="border-bottom p-3">Filters</h3>
        <h4 class="border-bottom p-3">Categories</h4>
        <h4 class="border-bottom p-3 cursor-pointer" (click)="showPriceFilters()">Price</h4>
        <div class="dropdown-container" *ngIf="isPriceFilterVisible">
            <div class="dropdown-list price-filter-list row">
                <span class="dropdown-list-item" *ngFor="let priceFilter of priceFilters" (click)="filterProductsByPrice(priceFilter)">Upto ${{priceFilter}}</span>
            </div>
        </div>
        <h4 class="border-bottom p-3">Discount</h4>
    </div>
</div>
