.main-img-width{
    width: 27%;
    /* background-color: #f8f9fa; */
}

.main-img-width:hover{
    box-shadow: 5px 5px 20px gray;
}
.goToCart{
    background-color: #6e1818;
    color: white;
}

div a img{
    transition: all 0.7s ease-in-out;
    
}

div a img:hover{
    transform: scale(1.1);
}